@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Georama;
}

.swiper-container {
  width: 90vw;
  height: 90vh;
}

.fotoText {
  text-shadow: -1px 2px 35px rgba(0,0,0,0.61);
}

.heroText {
  text-shadow: -1px 2px 29px rgba(0, 0, 0, 0.678);
}

