@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Georama;
}

.swiper-container {
  width: 60vw;
  height: 60vh;
}

/* .swiper-wrapper {
  padding-inline-start: 0;
} */