@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Georama;
}

.swiper-container {
  width: 90vw;
  height: 90vh;
}

.fotoText, .carouselText {
  text-shadow: 4px 4px 33px rgba(0, 0, 0, 0.377);
}


.heroText {
  text-shadow: -1px 2px 29px rgba(0, 0, 0, 0.678);
}

