@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
  font-family: "Georama";
}

.swiper-container {
  width: 90vw;
  height: 90vh;
}

.fotoText {
  text-shadow: 4px 4px 33px rgba(0, 0, 0, 0.450);
}

.carouselText {
  text-shadow: 2px 4px 33px rgba(0, 0, 0, 0.320);
}

.heroText {
  text-shadow: -1px 2px 29px rgba(0, 0, 0, 0.678);
}

.permanentMarkerFont {
  font-family: "Permanent Marker";
}


/* @layer components {
  .btn {
    @apply 
  } 
} */